# Ignore virtual environment
environment/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
